{% extends 'auctions/layout.html' %}
{% load static %}

{% block title %} {{category}}{% endblock %}
{% block body %}
    <h2 class="font-serif text-2xl text-center m-4 text-stone-800">Listings related to {{category}}</h2>
    {% for listing in listings%}
      <a href="{%url 'current_listing' listing.title%}" class="text-decoration-none">
     
        <div class="grid-cols-1 mx-1">
            <div class="border-[1px] border-solid shadow-sm flex rounded-md mb-4 hover:scale-105">
                <div class="basis-[33%]">
                    {% if listing.image_url %}
                        <div class="">
                            <img src="{{listing.image_url}}" alt="Sorry Image not available" class="max-h-[400px]">
                        </div>
                    {% else %}
                        <div class="">
                            <img src="{% static 'auctions/no_image.jpg' %}" alt="Sorry Image not available" class="max-h-[400px]">
                        </div>
                    {% endif %}           
                </div>
                <div class="basis-[66%] p-3">
                    <h1 class="text-[1.25rem] font-medium">{{listing.title}}</h1>
                    {% if listing.highest_bid %}
                    <p class="font-medium">Price: <span class="font-normal">${{listing.highest_bid}}</span></p>
                    {% else %}
                    <p class="font-medium">Price: <span class="font-normal">${{listing.starting}}</span></p>
                    {% endif %}
                    <p class="mb-4">{{listing.description| truncatewords:50}}</p>
                    <p class="opacity-70 text-sm">Created at: {{listing.time_created}}</p>
                </div>
            </div>
       
        </div>
      </a>
    {% endfor %}
{% endblock %}