{% extends 'auctions/layout.html' %}
{%block title%} {{title}} {% endblock %}
{%block body%}
    <div class="max-w-[1320px]">
        <h2 class="text-xl font-medium my-2 ml-2">Listing: {{listing.title}}</h2>
        <!-- <div class = 'container'> -->
            <div class="">
                <div class="">
                    <img src="{{listing.image_url}}" alt="Sorry Image not available" class="max-h-[400px]">
                </div>
                {% if highest_bid %}
                <p class="">$ {{highest_bid}}</p>
                {% else %}
                <p class="">$ {{listing.starting}}</p>
                {% endif %}
                <div>
                    <form action="{%url 'bid' %}" method="post">
                        {% csrf_token %}
                        {{bidding_form}}
                    </form>
                </div>
                <p class="fs-2 fw-semibold">Details</p>
                <ul>
                    <p>Listed by: <a href="">{{listing.listed_by}}</a></p>
                    <p>Category: {{listing.category}}</p>
                    <p>Time Created: {{listing.time_created}}</p>
                    <p class="">{{listing.description}}</p>
                </ul>
            </div>
        <!-- </div> -->
    </div>
{%endblock%}