{% extends "auctions/layout.html" %}

{% block body %}
<h1 class="font-semibold text-[2rem] m-3">Active Listings</h1>
    {% for listing in listings%}
      <a href="{%url 'current_listing' listing.title%}" class="text-decoration-none">
     
        <div class="grid-cols-1 mx-1">
            <div class="border-[1px] border-solid shadow-sm flex rounded-md mb-4 hover:scale-105">
                <div class="basis-[33%]">
                    <img src="{{listing.image_url}}" alt="" class="rounded-l-md max-w-96">
                </div>
                <div class="basis-[66%] p-3">
                    <h1 class="text-[1.25rem] font-medium">{{listing.title}}</h1>
                    {% if listing.highest_bid %}
                    <p class="font-medium">Price: <span class="font-normal">${{listing.highest_bid}}</span></p>
                    {% else %}
                    <p class="font-medium">Price: <span class="font-normal">${{listing.starting}}</span></p>
                    {% endif %}
                    <p class="mb-4">{{listing.description| truncatewords:50}}</p>
                    <p class="opacity-70 text-sm">Created at: {{listing.time_created}}</p>
                </div>
            </div>
       
        </div>
      </a>
    {% endfor %}
{% endblock %}