<!-- Bismillahirahmanirahim -->
{% load static tailwind_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% tailwind_css %}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Auctions{% endblock %}</title>
</head>
<body>
    <div class = 'm-[10px]'>
        <h1 class = 'text-[2.5rem] font-semibold'>Auctions</h1>
        <div class="mb-2">
            {% if user.is_authenticated %}
                Signed in as <strong class="font-medium">{{ user.username }}</strong>.
            {% else %}
                Not signed in.
            {% endif %}
        </div>

        <nav>
            <ul class="flex mb-5">
                <li>
                    <a href="{% url 'index' %}" class="text-[#257ad9] p-4 hover:underline">Active Listings</a>
                </li>
                <li>
                    <a href="{% url 'categories' %}" class="text-[#257ad9] p-4 hover:underline">Categories</a>
                </li>
                {% if user.is_authenticated %}
                <li>
                    <a href="{% url 'logout' %}" class="text-[#257ad9] p-4 hover:underline">Log Out</a>
                </li>
                <li>
                    <a href="{% url 'listing' %}" class="text-[#257ad9] p-4 hover:underline">Create Listing</a>
                </li>
                <li>
                    <a href="{% url 'watchlist' %}" class="text-[#257ad9] p-4 hover:underline">Watch List</a>
                </li>
                {% else %}
                <li>
                    <a href="{% url 'login' %}" class="text-[#257ad9] p-4 hover:underline">Login</a>
                </li>
                <li>
                    <a href="{% url 'register' %}" class="text-[#257ad9] p-4 hover:underline">Register</a>
                </li>
                {% endif %}
            </ul>
        </nav>
        <hr>
        {% if messages %}
    <div class="messages">
        {% for message in messages %}
            <div class="alert 
                {% if 'success' in message.tags %}bg-blue-100 text-blue-800 border border-blue-300{% endif %}
                {% if 'info' in message.tags %}bg-red-100 text-red-800 border border-red-300{% endif %}
                p-4 mb-4 rounded-lg">
                {{ message }}
            </div>
        {% endfor %}
    </div>
{% endif %}

        {% block body %}
        {% endblock %}
    </body>
</html>
