{% extends "auctions/layout.html" %}
{% block title %}Login{% endblock %}
{% block body %}
<div class="grid place-items-center">

    <h2 class="text-xl font-medium my-2 ml-2">Login</h2>

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}

    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <div class="m-1">
            <input autofocus class="rounded-md" type="text" name="username" placeholder="Username">
        </div>
        <div class="m-1">
            <input class="rounded-md" type="password" name="password" placeholder="Password">
        </div>
        <input class="ml-2 bg-gray-500 text-white py-[0.4rem] cursor-pointer hover:text-black px-3 rounded-md" type="submit" value="Login">
    </form>

   <p class="ml-2"> Don't have an account? <a href="{% url 'register' %}" class="text-blue-500 hover:underline">Register here.</a> </p>
</div>

{% endblock %}