{% extends "auctions/layout.html" %}
{% block title %}Register{% endblock %}
{% block body %}
<div class="grid place-items-center">
    <h2 class="text-xl font-medium my-2 ml-2">Register</h2>

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}

    <form action="{% url 'register' %}" method="post">
        {% csrf_token %}
        <div class="m-1">
            <input class="rounded-md" autofocus type="text" name="username" placeholder="Username">
        </div>
        <div class="m-1">
            <input class="rounded-md" type="email" name="email" placeholder="Email Address">
        </div>
        <div class="m-1">
            <input class="rounded-md" type="password" name="password" placeholder="Password">
        </div>
        <div class="m-1">
            <input class="rounded-md" type="password" name="confirmation" placeholder="Confirm Password">
        </div>
        <input class="ml-2 bg-gray-500 text-white py-[0.4rem] cursor-pointer hover:text-black px-3 rounded-md" type="submit" value="Register">
    </form>

    <p class="ml-2">Already have an account? <a href="{% url 'login' %}" class="text-blue-500 hover:underline">Log In here.</a></p>
</div>
{% endblock %}