<!-- Bismillahirahmanirahim -->
{% load static tailwind_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% tailwind_css %}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Auctions{% endblock %}</title>
</head>
<body>
    <div class = 'm-[10px]'>
        <h1 class = 'text-[2.5rem] font-semibold'>Auctions</h1>
        <div class="mb-2">
            {% if user.is_authenticated %}
                Signed in as <strong class="font-medium">{{ user.username }}</strong>.
            {% else %}
                Not signed in.
            {% endif %}
        </div>
        <nav>
            <ul class="flex mb-5">
                <li>
                    <a href="" class="text-[#257ad9] p-4 hover:underline">Active Listings</a>
                </li>
                <li>
                    <a href="" class="text-[#257ad9] p-4 hover:underline">Categories</a>
                </li>
                <li>
                    <a href="" class="text-[#257ad9] p-4 hover:underline">Watch List</a>
                </li>
                <li>
                    <a href="" class="text-[#257ad9] p-4 hover:underline">Create Listing</a>
                </li>
                <li>
                    <a href="" class="text-[#257ad9] p-4 hover:underline">Log Out</a>
                </li>
    
            </ul>
        </nav>
        <hr>
        <h1 class="font-semibold text-[2rem] m-3">Active Listings</h1>
        {% for listing in listings %}
        <div class="grid-cols-1 mx-1">
            <div class="border-[1px] border-solid shadow-sm flex rounded-md mb-4 hover:scale-105">
                <div class="basis-[33%]">
                    <img src="{{listing.image_url}}" alt="" class="rounded-l-md max-w-96">
                </div>
                <div class="basis-[66%] p-3">
                    <h1 class="text-[1.25rem] font-medium">{{listing.title}}</h1>
                    {% if listing.highest_bid %}
                    <p class="font-medium">Price: <span class="font-normal">${{listing.highest_bid}}</span></p>
                    {% else %}
                    <p class="font-medium">Price: <span class="font-normal">${{listing.starting}}</span></p>
                    {% endif %}
                    <p class="mb-4">{{listing.description| truncatewords:50}}</p>
                    <p class="opacity-70 text-sm">Created at: {{listing.time_created}}</p>
                </div>
            </div>
        {% endfor %}
        </div>
        <!-- {% block body %}
        {% endblock %} -->
        
    </div>
</body>
</html>